doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author" content="cerebro_cerberus")
        meta(name="description" content="This is just a frontendmentor challenge")
        link(rel="stylesheet" href="css/index.css")
        link(rel="shortcut icon" href="images/favicon-32x32.png")
        title Frontendmentor | Stats-preview-card
    body 
        main 
            .stat-container 
                .image 
                .previews 
                    h1.previews__heading Get <span>insights</span> that help your business grow.
                    p.previews__paragraph Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency
                    .previews-stats 
                        ul 
                            li.number 10k+
                            li.about companies

                        ul 
                            li.number 314
                            li.about templates 
                        
                        ul 
                            li.number 12M+
                            li.about queries
                        